# FastF1 cache files
fastf1_cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite